*{
	padding: 0px;
	margin:0px;
}
body{
	width: 892px;/*注意不是980*/
	height: 1386px;
	padding:  0px 44px;
	margin: 0 auto;

}

header{
	height: 61px;
	width: 100%;
	position: relative;/*为了下面位置的相对*/
	border-bottom: 2px #938e8c solid;
	
}
header div.til{
	font-size: 12px;
	font-family:"黑体", sans-serif;
	color: #fff;
	width: 100px;
	height: 56px;
	display: table-cell;
	padding-left: 10px;
	padding-bottom: 5px;
	background-color: #CD5C5C;
	vertical-align: bottom;
}
header div.date{
	font-size: 12px;
	position: absolute;
	right: 0px;
	bottom: 5px;
	font-family:"黑体", sans-serif;
	color: #d45d5c;
}
section, aside{
	margin-top: 40px;
}

aside.section1{
	float: right;
	width: 207px;
	padding-top: 20px;
	
}

aside h1{
	font-size: 24px;
	line-height: 40px;
	font-family:"Microsoft YaHei", sans-serif;
	text-decoration: underline;
	font-weight: normal;
}

aside h1 span.bol{
	font-size: 28px;
	font-weight: bold;
}
aside h3{
	font-size: 12px;
	line-height: 10px;
	font-family: "楷体", sans-serif;
	font-weight: normal;
}

aside p.green{
	font-size: 116px;
	font-family: "微软雅黑", sans-serif;
	color: #75b86b;
	font-style: italic;
}

p.c1{
	margin-right: 15px;
	padding: 0px;
	font-size: 55px;
	line-height: 1em;
	font-family: "Microsoft YaHei";
	color: #cc8091;
	float: left;
}
p.c2{
	margin-top: 10px;/*有没有更好的方法？让其下对齐*/
	font-size: 21px;
	font-family: "Microsoft YaHei";
	color: #cc8091;
}
p.c3{
	font-size: 12px;
	font-family: "Microsoft YaHei";
	color: #cc8091;
}

article.section2{
	width: 200px;
	margin-top: 44px;
	margin-right: 25px;
	float: left;
}
article.section2 h2.p1, article h2.p2, article h2.p3{
	font: 16px "微软雅黑" bold;
	text-decoration: underline;
	margin-bottom: 10px;
}
article.section2 h2.p1{
	color: #418c59;
}
article.section2 h2.p2{
	color: #d2994f;
}
article.section2 h2.p3{
	color: #cc7680;
}

article.section2 p{
	font: 12px/16px "宋体";
	color: #767777;
}

article div.list{
	margin-top: 20px;
}
article div.list p{
	font-size: 12px;
	line-height: 1.8em;

}

article div.list p span{
	font-size: 12px;
	line-height: 16px;
	font-family: "微软雅黑";
	font-style: italic;
	color: rgba(205,74,72,0.7);

}
section.section3{
	clear: both;
	padding-top: 50px;
}

.section3 article h1{
	padding-top: 20px;
	font: bold normal 38px "黑体",sans-serif;
	color: #11456b;
	line-height: 39px;
}

.section3 article h1 span{
	font:  bold italic 60px "黑体",sans-serif;
	color: #f5e327;
}

.section3 article h2{
	font:  bold normal 33px "黑体",sans-serif;
	color: #11456b;
	padding-bottom: 8px;
	border-bottom: 2px solid #11456b;
}

.section3 article p.t1 span{
	font: normal 70px "Microsoft YaHei";
	float: left;
	color: #f5e327;
	margin-right: 5px;
}

.section3 article p.t1{
	margin-top: 20px;
}

.section3 article p{
	font: normal 12px "宋体";
	color: #767777;
}

.section3 article p.indent{
	text-indent: 2em;
}

#hi{
	float: right;
	margin: 15px 0 15px 15px;
}
.section3 aside{
	width: 459px;
	float: right;
	margin-left: 20px;
}

.section3 article{
	overflow: hidden;
}

.section3 aside div.banner{
	width: 458px;
	height: 61px;
	background-color: rgba(0,0,0,0.3);
	position: relative;
	top: -64px;
}

.section3 aside div.banner .aa1{
	border-left: 3px solid #72b16a;
	padding:7px 0px 7px 3px;
	font: normal 26px "Microsoft YaHei";
	color: #ffffff;
	position: absolute;
	left: 25px;
	bottom:4px;
}
.section3 aside div.banner .aa2{

	font: italic 12px "Microsoft YaHei";
	color: #72b16a;

}






